.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  margin: 0;
}

/* --shared class-- */
.display-flex {
    display: flex;
}
header {
    background-color: #1A0B2E;
}
.techwave {
    margin: 0 auto;
    justify-content: space-around;
    align-items: center;
}
.techwave h2 {
    font-size: 3rem;
    font-weight: 700;
    color: #FFFFFF;
}
#wave {
    background: linear-gradient(30deg, #F7E93F 0%, #FB09B4 51%, #9100F8 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
nav ul {
    justify-content: center;
    align-items: center;
}
nav li {
    list-style: none;
    margin-right: 32px;
}
nav li a {
    text-decoration: none;
    font-size: 1rem;
    font-weight: 400;
    line-height: 120%;
    color: #FFFFFF;
}
.nav-but {
    justify-content: center;
    align-items: center;
    gap: 4px;
    font-size: 1rem;
    font-weight: 600;
    color: #FFFFFF;
    background: linear-gradient(30deg, #F7E93F 0%, #FB09B4 51%, #9100F8 100%);
    border: none;
    border-radius: 10000px;
    padding: 12px 16px;
}
header hr {
    border: 1px solid #412567;
    opacity: 20%;
}
 .head-container {
    padding-bottom: 100px;
 }
 .head-img {
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    background-image: url(../assets/hero-bg.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
 }
.head-img .img-1 {
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 110px;
    z-index: 10; 
}
.head-img .img-2 {
    margin: -150px auto 40px;
    justify-content: center;
    align-items: center;
    z-index: 5;
}
.head-content {
    text-align: center;
}
.head-content h2 {
    font-size: 3.75rem;
    font-weight: 800;
    color: #FFFFFF;
    margin-bottom: 0;
}
.head-content p {
    font-size: 1rem;
    font-weight: 400;
    color: #FFFFFF;
    opacity: 80%;
    padding: 8px auto 24px;
}
.but-primary {
    justify-content: center;
    align-items: center;
}
.wave-but-1 {
    justify-content: center;
    align-items: center;
    gap: 8px;
    font-size: 1rem;
    font-weight: 600;
    color: #FFFFFF;
    background: linear-gradient(30deg, #F7E93F 0%, #FB09B4 51%, #9100F8 100%);
    border: none;
    border-radius: 10000px;
    padding: 12px 20px;
}
.wave-but-2 {
    justify-content: center;
    align-items: center;
    gap: 8px;
    font-size: 1rem;
    font-weight: 600;
    color: #00FF88;
    border-color: #00FF88;
    background: transparent;
    border-radius: 10000px;
    padding: 12px 20px;
}